/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(css/animate.min.css);
@import url(css/normalize.css);
@import url(css/icomoon.css);
@import url(css/font-awesome.min.css);
@import url(css/meanmenu.css);
@import url(css/owl.carousel.min.css);
@import url(css/swiper.min.css);
@import url(css/slick.css);
@import url(css/jquery.fancybox.min.css);
@import url(css/jquery-ui.css);
@import url(css/nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 18px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 500;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- header area --*/

.header {
     width: 100%;
     background: #fff;
}

.header_top {
     background-color: #ecf3fc;
     padding: 10px 0;
}

ul.conta_icon li a img {
     padding-right: 7px;
}

ul.social_icon {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

ul.social_icon li {
     height: 30px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 5px;
}

ul.social_icon li:last-child {
     padding-right: 0px;
}

ul.social_icon li a {
     color: #fff;
     width: 30px;
     height: 30px;
     background-color: #183661;
     float: left;
     text-align: center;
     line-height: 31px;
     border-radius: 100%;
     font-size: 17px;
}

ul.social_icon li a:hover {
     background: #f2c119;
     color: #fff;
}

.select-box {
     cursor: pointer;
     position: relative;
     width: 90px;
}

.select,
.label {
     color: #677691;
     display: block;
     font-size: 12px;
}

.select {
     width: 100%;
     position: absolute;
     top: 0;
     padding: 5px 0;
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     background: none transparent;
     border: 0 none;
}

.select-box1 {
     background: #ecf3fc;
     border: #677691 solid 1px;
     border-radius: 30px;
}

.label {
     position: relative;
     padding: 0px 23px 0px 9px;
     cursor: pointer;
     margin-bottom: 0;
}

.open .label::after {
     content: "▲";
}

.label::after {
     content: "▼";
     font-size: 12px;
     position: absolute;
     right: -18px;
     top: 0;
     padding: 0px 24px;
}

.se_fonr1 {
     justify-content: flex-end;
     display: flex;
     flex-wrap: wrap;
}

.time_o {
     padding-left: 15px;
     color: #0d1015;
     font-size: 14px;
}

.header_midil {
     padding: 22px 0;
}

.logo {
     text-align: center;
     display: block;
}

ul.conta_icon li a i {
     padding-right: 5px;
}

ul.conta_icon li a {
     color: #202020;
     font-size: 17px;
}

ul.conta_icon li a:hover {
     color: #183661;
     text-decoration: underline !important;
}

ul.right_icon {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
}

ul.right_icon li img {
     margin-right: 30px;
}

.order {
     padding-top: 2px;
     float: right;
     max-width: 120px;
     font-size: 14px !important;
     color: #fff !important;
     height: 28px;
     width: 100%;
     background-color: #183661;
     display: block;
     text-align: center;
     border-radius: 40px;
}

.order:hover {
     background-color: #f2c119;
}


/*--   navigation--*/

.header_bottom {
     background-color: #183661;
}

.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 30px 24px;
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     font-weight: 400;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     background-color: #f2c119;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     background-color: #f2c119;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.search {
     padding: 24px 0;
     text-align: right;
}

.form_sea {
     border-radius: 20px;
     border: #fff solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 32px;
     position: relative;
     width: 100%;
}

.seach_icon {
     position: absolute;
     margin-left: -25px;
     z-index: 999;
     background: transparent;
     padding: 3px 0px 0px 0px;
     color: #b7b7b7;
}


/*-- marker-end sidebar  navigation--*/


/** banner section **/

.banner_main {
     background: url(../images/banner.jpg);
     padding: 97px 0px 0px 0px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     min-height: 698px;
}

.blodark {
     color: #183661;
     font-family: 'Righteous', cursive;
     font-size: 85px;
}

.text-bg {
     text-align: left;
}

.ban_img {
     width: 100%;
margin-right: -45px;
position: absolute;
}

.text-bg h1 {
     color: #f2c119;
     font-size: 116px;
     line-height: 120px;
     padding-bottom: 50px;
     font-weight: 400;
}

.text-bg p {
     color: #2a2a2c;
     line-height: 30px;
     font-size: 33px;
     margin-bottom: 50px;
}

.text-bg .read_more {
     font-weight: 500;
     background: #1d37fd;
     color: #fff !important;
     border-radius: 43px;
     margin-right: 25px;
     padding: 13px 0;
     max-width: 210px;
}

.text-bg .read_more:hover {
     background: #fcc10e;
     color: #000 !important;
}

.ban_img figure {
     margin: 0;
}

.ban_img figure img {
     width: 100%;
}


/** end banner section **/

.titlepage h2 {
     font-size: 35px;
     color: #141414;
     line-height: 40px;
     font-weight: bold;
     padding: 0;
}

.titlepage h2 img {
     padding-right: 10px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 15px 0px;
     width: 100%;
     max-width: 170px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     border-radius: 50px;
     text-transform: uppercase;
}

.read_more:hover {
     background: #03cafc;
     color: #fff !important;
     transition: ease-in all 0.5s;
}


/** six_box section **/

.six_box {
     background: url(../images/service_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
}

.bluedark_bg {
     background: #183661;
}

.yellow_bg {
     background: #f2c119;
}

.six_box .six_probpx {
     text-align: center;
     padding: 50px 0;
}

.six_box .six_probpx i {
     display: block;
}

.pa_left {
     padding-left: 0;
     padding-right: 0;
}

.six_box .six_probpx span {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     text-transform: uppercase;
     font-weight: bold;
}


/** end six_box section **/


/** project section **/

.project {
     background: url(../images/product_bg.jpg);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding: 90px 0 90px 0;
}

.project .titlepage {
     text-align: left;
}

.project .titlepage h2 {
     margin-bottom: 40px;
     padding-bottom: 10px;
     border-bottom: #f2c119 solid 5px;
}

.project .titlepage p {
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     padding-top: 10px;
     color: #fff;
}
.product_main {display:flex; flex-wrap: wrap; justify-content: center;}
.project .project_box {
     text-align: center;
max-width: 17.3%;
margin: 0 15px 20px 15px;
}

.dark_white_bg {
     background: #f2f2f2;
     height: 257px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
}

.project .project_box h3 {
     color: #1c1c1b;
     font-size: 15px;
     line-height: 20px;
     padding: 22px 0px 0px 0px;
     text-align: left;
}

.project .read_more {
     margin-top: 50px !important;
     margin: 0 auto;
     display: block;
     text-transform: none;
     color: #fff;
     background: #183661;
     padding: 10px 0;
}

.project .read_more:hover {
     background-color: #f2c119;
}


/** end project section **/


/** fashion section **/

.fashion img {
     width: 100%;
}


/** end fashion section **/


/** news section **/

.news {
     background-color: #fff;
     padding-top: 90px;
}

.news .titlepage h2 {
     margin-bottom: 15px;
     padding-bottom: 10px;
     border-bottom: #f2c119 solid 5px;
}

.margin_top40 {
     margin-top: 40px;
}

.news_img figure {
     margin: 0;
}

.news_img figure img {
     width: 100%;
}

.news_text h3 {
     color: #141414;
     font-size: 24px;
     font-weight: bold;
     padding-bottom: 10px;
}

.news_text span {
     border-bottom: #f2c119 solid 1px;
     padding-bottom: 4px;
     color: #141414;
     font-size: 15px;
}

.date_like {
     float: right;
}

.pad_le {
     padding-left: 15px;
}

.news_text p {
     color: #141414;
     font-size: 17px;
     line-height: 32px;
     font-weight: 400;
     padding-top: 15px;
}


/** end news section **/


/** newslatter section **/

.newslatter {
     background-color: #fff;
     padding: 90px 0;
}

.neslatter {
     color: #141414;
     font-size: 30px;
     line-height: 32px;
     text-align: left;
     padding-bottom: 0;
     font-weight: bold;
}

.news_form {
     text-align: right;
}

.news_form .letter_form {
     height: 54px;
     width: 100%;
     padding: 0 15px;
     font-size: 17px;
     border-radius: 32px;
     border: #a8a8a8 solid 1px;
}

.news_form .sumbit {
     padding: 5px 42px;
     margin-left: -180px !important;
     font-size: 17px;
     background: #183661;
     color: #fff;
     border-radius: 30px;
     z-index: 9999;
}

.news_form .sumbit:hover {
     background-color: #f2c119;
}


/** end newslatter section **/

.three_box {
     margin-bottom: -80px;
}

.gift_box {
     background-color: #fff;
     box-shadow: 0px 0px 16px rgba(13, 3, 3, 7%);
     text-align: center;
     padding: 40px 1px;
     border-radius: 20px;
}

.gift_box i {
     display: block;
}

.gift_box span {
     color: #183661;
     font-size: 17px;
     padding-top: 5px;
     display: block;
}


/** three_box section **/


/** end three_box section **/


/** footer **/

.footer {
     background: #183661;
     padding-top: 170px;
     text-align: center;
}

.footer h3 {
     color: #fff;
     font-size: 20px;
     line-height: 20px;
     text-transform: uppercase;
     text-align: left;
     padding-bottom: 20px;
     font-weight: 600;
}

.footer p {
     color: #fff;
     font-size: 17px;
     line-height: 32px;
     text-align: left;
     padding-right: 31px;
     font-weight: 400;
     display: inline-block;
}

.copyright {
     margin-top: 80px;
     padding-bottom: 20px;
     background: #fbfdfd;
}

.copyright p {
     color: #292929;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     padding-top: 25px;
     font-weight: normal;
     padding-right: 0 !important;
}

.copyright a {
     color: #292929;
}

.copyright a:hover {
     color: #f9bf16;
}


/** end footer **/


/** inner page css **/

.footer_to90 .footer {
     padding-top: 90px;
}

.blue_bg {
     background-color: #f3a20d;
     padding: 35px 0;
}

.blue_bg .titlepage {
     text-align: center;
}


/** about page **/

.about_page .blue_bg .titlepage h2 {
     color: #fff;
}

.about {
     background-color: #fff;
     padding: 60px 0 50px 0;
}

.about_text h3 {
     font-size: 30px;
     margin-top: 20px;
     line-height: 30px;
     font-weight: 600;
     color: #183661;
     padding: 0;
}

.about_text p {
     color: #000;
     font-size: 17px;
     line-height: 30px;
     padding: 25px 0 40px 0;
}

.about_text .read_more {
     background: #183661;
     color: #fff;
     padding: 10px 0;
}

.about_text .read_more:hover {
     background: #f2c119;
}


/** about page **/

.project_page .blue_bg .titlepage h2 {
     color: #fff;
}

.news_page .blue_bg .titlepage h2 {
     color: #fff;
}

.news_page .news {
     padding: 50px 0 90px 0;
}

.fashion_page .blue_bg .titlepage h2 {
     color: #fff;
}

.fashion_page .fashion {
     margin: 90px 0;
}


/** contact page **/

.contact_page .blue_bg .titlepage h2 {
     color: #fff;
}

.contact_page .contact {
     margin-bottom: 90px;
}

.contact {
     margin-top: 90px;
     background: #fff;
}

.contact .titlepage {
     text-align: left;
     padding-bottom: 60px;
}

.contact .titlepage h2 {
     color: #fefeff;
}

.main_form .contactus {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 20px;
     width: 100%;
     height: 46px;
     background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     padding: 0 15px;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.main_form .contactusmess {
     border: #183661 solid 1px;
     padding: 0 15px;
     margin-bottom: 0;
     width: 100%;
     padding-top: 52px;
     padding-bottom: 52px;
      background: transparent;
     color: #183661;
     font-size: 17px;
     font-weight: normal;
     box-shadow: 0 0 5px rgba(243, 195, 30, 0.5);
}

.send_btn {
     background: #183661;
     font-weight: 500;
     font-size: 18px;
     width: 185px;
     color: #fff;
     height: 56px;
     margin-top: 50px;
     transition: ease-in all 0.5s;
     border-radius: 40px;
}

.send_btn:hover {
     background: #f2c119;
     transition: ease-in all 0.5s;
}

#request *::placeholder {
     color: #183661;
     opacity: 1;
}


/** end contact section **/

